@*@model Assig1.Models.Country*@
@*@model Assig1.ViewModels.Country_CountryDetail*@
@model Assig1.ViewModels.CountriesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row mb-3">
    <div class="col-2">
        <select asp-for="@Model.Year" asp-items="@Model.YearList" class="form-control">
            <option value="">Select year</option>
        </select>
    </div>

    <div class="col-2">
        <select asp-for="@Model.ChartLegend" class="form-control">
            <option value="Items">Items</option>
            <option value="Elements">Elements</option>
        </select>
    </div>

</div>
<div class="row justify-content-end">
    <div class="col-4">
        <img src="@Model.TheCountryDetail.TheCountry.ImageUrl" class="card-img-top" alt="...">
        <p>Country: @Model.TheCountryDetail.TheCountry.CountryName</p>
        @if (Model.TheCountryDetail.TheRegion != null)
        {
            <p>Region: @Model.TheCountryDetail.TheRegion.RegionName</p>
            <a asp-action="Index" asp-route-countryId="@Model.TheCountryDetail.TheCountry.CountryId" asp-route-regionId="@Model.TheCountryDetail.TheRegion.RegionId" class="btn btn-outline-info">Countries List in same region</a>
        }
        else
        {
            <p>Region: no regions</p>
            <a asp-action="Index" asp-route-countryId="" class="btn btn-outline-info">All Countries List</a>
        }
        <a asp-controller="Cities" asp-action="Index" asp-route-countryId="@Model.TheCountryDetail.TheCountry.CountryId" class="btn btn-outline-success">Visit cities</a>

        @*<img src="@Model.TheCountryDetail.TheCountry.ImageUrl" class="card-img-top" alt="...">*@
        @*<img src="@Model.ImageUrl" class="card-img-top" alt="...">*@
    </div>
    <div class="col-1">

    </div>
    <div class="col-7">
        <div class="row justify-content-end">
            <div class="col-4">
                @*<img src="@Model.TheCountry.ImageUrl" class="card-img-top" alt="...">*@
                @*<img src="@Model.ImageUrl" class="card-img-top" alt="...">*@
            </div>
            <div class="col-1">

            </div>
            <div class="col-7">
            </div>
        </div>
    </div>
</div>
<div>
    @*<h4>Country</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Iso3)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Iso3)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CountryName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Region)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Region.RegionId)
            </dd>
        </dl>*@
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?@Model.TheCountry.CountryId">Edit</a> |*@
    @*<a asp-action="Index">Back to List</a>*@
</div>
