@*@model IEnumerable<Assig1.Models.Country>*@
@model Assig1.ViewModels.CountriesViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="alert-secondary p-2 text-center mb-3">Index</h1>
</div>

<div class="row justify-content-center">
    @foreach (var item in Model.CountryList)
    {
        <div class="col-3 m-1">
            <div class="card" style="width: 20rem;">
                <img src="@item.TheCountry.ImageUrl" class="card-img-top" style="height: 12rem;" alt="@item.TheCountry.CountryName" />
                <div class="card-body justify-content-around">
                    <h5 class="card-title justify-content-center mb-3">@item.TheCountry.CountryName</h5>
                    <p class="card-text">
                        CountryID: @item.TheCountry.CountryId
                        RegionID: @item.TheCountry.RegionId
                        ISO3: @item.TheCountry.Iso3
                        Temperature: @item.TheCountry.TemperatureData
                    </p>
                    <div class="d-flex justify-content-around">
                        @*May need to fix the link below later*@
                        @*<a asp-controller="Cities" asp-action="Index" asp-route-id="@item.RegionId" class="btn btn-outline-success">Visit cities</a>
                        <a asp-action="Details" asp-route-id="@item.CountryId" class="btn btn-outline-info">Details</a>*@
                    </div>

                </div>
            </div>
        </div>
    }
</div>
@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Iso3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Iso3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
