@model IEnumerable<Assig1.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="p-2 text-center mb-3" id="headingAlert">Regions</h1>
</div>
<div class="row justify-content-center">
    <div class="col-3 m-1">
        <div class="card" style="width: 20rem;">
            <img src="https://e0.pxfuel.com/wallpapers/1010/550/desktop-wallpaper-light-earth-planet-for-section-%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81-beautiful-planet-earth.jpg" class="card-img-top" style="height: 12rem;" alt="All regions" />
            <div class="card-body">
                <h5 class="card-title d-flex align-items-center justify-content-center" style="position: relative; left: 0; right: 0; height: 20%;">All regions</h5>
                <div class="d-flex justify-content-around" style="padding-top: 10px;">
                    @*May need to fix the link below later*@
                    <a asp-controller="Countries" asp-action="Index" asp-route-id="" class="btn btn-success">Visit countries of all regions</a>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-3 m-1">
            <div class="card" style="width: 20rem;">
                <img src="@item.ImageUrl" class="card-img-top" style="height: 12rem;" alt="@item.RegionName" />
                <div class="card-body justify-content-around">
                    @*<h5 class="card-title justify-content-center mb-3">@item.RegionName</h5>*@
                    <h5 class="card-title d-flex align-items-center justify-content-center" style="position: relative; left: 0; right: 0; height: 20%;">@item.RegionName</h5>
                    <div class="d-flex justify-content-around" style="padding-top: 10px;">
                        @*May need to fix the link below later*@
                        <a asp-controller="Countries" asp-action="Index" asp-route-id="@item.RegionId" class="btn btn-success">Visit countries</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*for 3 or more buttons*@
@*<div class="d-flex justify-content-between mt-auto">*@
