@model IEnumerable<Assig1.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post" asp-controller="Regions" asp-action="Index" class="row mb-2">
    <div class="col-4">
        @*<input class="form-control" maxlength="100" type="text" placeholder="Search Regions" asp-for="@Model.SearchRegion" title="Search a region" />*@
    </div>
</form>
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-3 m-1">
            <div class="card" style="width: 20rem;">
                <img src="@item.ImageUrl" class="card-img-top" style="height: 12rem;" alt="@item.RegionName" />
                <div class="card-body">
                    <h5 class="card-title justify-content-center">@item.RegionName</h5>
                    <div class="position-relative">
                        <a asp-action="Edit" asp-route-id="@item.RegionId" class="btn btn-outline-success">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.RegionId" class="btn btn-outline-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.RegionId" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RegionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RegionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegionId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
