@model Assig1.ViewModels.CitiesViewModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@


<div class="image-container">
    @if (Model.TheCityDetail != null)
    {
        <img src="@Model.TheCityDetail.TheRegion.ImageUrl" class="card-img-top" alt="@Model.TheCityDetail.TheCountry.CountryName">
    }
    else
    {
        <img class="card-img-top" alt="All regions" src="https://e0.pxfuel.com/wallpapers/1010/550/desktop-wallpaper-light-earth-planet-for-section-%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81-beautiful-planet-earth.jpg">

    }
    <div class="text-overlay">
        <div class="left-column">
            @if (Model.TheCountry != null)
            {
                <h1>@Model.TheCountry.CountryName</h1>
            }
            else
            {
                <p>No country</p>
            }
            <div class="mt-5">
                @if (Model.CityDetailList.Any()) // Check if there are any elements in the list
                {
                    <form method="post" asp-controller="Cities" asp-action="Index" asp-route-countryId="@Model.CountryId" class="row mb-5">
                        <div class="col-8">
                            <input type="text" list="cityList" class="form-control" maxlength="100" id="cityName" asp-for="@Model.SearchText" placeholder="Search cities" title="Search a city name" />
                            <datalist id="cityList">
                                @foreach (var city in Model.CityDetailList)
                                {
                                    <option value="@city.TheCity.CityName"></option>
                                }
                            </datalist>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-info">Search</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        There are no cities available in this country.
                    </div>
                }
                <div class="mb-5">
                    @if (Model.TheCityDetail != null)
                    {
                        <p>Region: @Model.TheCityDetail.TheRegion.RegionName</p>

                    }
                    else
                    {
                        <p>Region: Not available</p>
                    }
                    @if (Model.TheCountry != null)
                    {
                        <p>ISO3: @(Model.TheCountry?.Iso3 ?? "Not available")</p>
                    }
                    else
                    {
                        <p>Country not available</p>
                    }
                </div>
            </div>
            <div class="mt-5">
                @*<a asp-controller="Countries" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success" style="margin-top: 45px">Go Back</a>*@

                @if (@Model.PageSource == "countriesIndex")
                {
                    <a asp-controller="Countries" asp-action="Index" asp-route-id="@Model.Id" asp-route-searchText="@Model.SearchText" class="btn btn-success" style="margin-top: 45px">Go Back</a>
                    @*<a asp-action="Index" asp-route-id="@Model.Id" asp-route-countryId="@Model.TheCityDetail?.TheCity?.CountryId" asp-route-searchText="@Model.SearchText" class="btn btn-success">Go back</a>*@

                }
                else
                {
                    <a asp-controller="Countries" asp-action="Details" asp-route-id="@Model.Id" asp-route-countryId="@Model.CountryId" class="btn btn-success" style="margin-top: 45px">Go Back</a>

                }
            </div>
        </div>

        <div class="right-column">
            @if (Model.TheCityDetail != null)
            {
                <img src="@Model.TheCityDetail.TheRegion.ImageUrl" class="" alt="@Model.TheCityDetail.TheRegion.RegionName">
            }
            else
            {
                <img class="card-img-top" alt="All regions" src="https://e0.pxfuel.com/wallpapers/1010/550/desktop-wallpaper-light-earth-planet-for-section-%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81-beautiful-planet-earth.jpg">

            }

        </div>
    </div>
</div>

<div class="accordion mt-3" id="accordionExample">
    @foreach (var item in Model.CityDetailList)
    {
        if (item.TheCity != null)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(item.TheCity.CityId)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.TheCity.CityId)" aria-expanded="false" aria-controls="collapse@(item.TheCity.CityId)">
                        @Html.DisplayFor(modelItem => item.TheCity.CityName)
                    </button>
                </h2>
                <div id="collapse@(item.TheCity.CityId)" class="accordion-collapse collapse" aria-labelledby="heading@(item.TheCity.CityId)" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Earliest year of air quality data: @Html.DisplayFor(modelItem => item.AirMinYear)</p>
                        <p>Latest year of air quality data: @Html.DisplayFor(modelItem => item.AirMaxYear)</p>
                        <p>Air quality data records: @Html.DisplayFor(modelItem => item.AirRecordCount)</p>
                        @if (item.TheCountry != null)
                        {
                            <a asp-action="Details" asp-route-id="@item.TheCountry.RegionId" asp-route-countryId="@item.TheCity.CountryId" asp-route-cityId="@item.TheCity.CityId" asp-route-searchText="@Model.SearchText" class="btn btn-primary">Air Quality Data</a>
                        }
                        else
                        {
                            <p>The Country has no air quality data information.</p>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>The city has no information.</p>
        }
    }
</div>

