@model Assig1.ViewModels.CitiesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-controller="Countries" asp-action="Index" asp-route-id="@Model.RegionId" class="btn btn-outline-success">Go Back</a>
</div>

<div class="image-container">
    @if (Model.TheCityDetail != null)
    {
        <img src="@Model.TheCityDetail.TheRegion.ImageUrl" class="card-img-top" alt="@Model.TheCityDetail.TheCountry.CountryName">
    }
    else
    {
        <img class="card-img-top" alt="All regions" src="https://e0.pxfuel.com/wallpapers/1010/550/desktop-wallpaper-light-earth-planet-for-section-%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81-beautiful-planet-earth.jpg">

    }
    <div class="text-overlay">
        <div class="left-column">
            @if (Model.TheCountry != null)
            {
                <h1>@Model.TheCountry.CountryName</h1>
            }
            else
            {
                <p>No country</p>
            }
            
            @if (Model.CityDetailList.Any()) // Check if there are any elements in the list
            {
                <form method="post" asp-controller="Cities" asp-action="Index" asp-route-countryId="@Model.CountryId" class="row mb-2">
                    <div class="col-8">
                        <input type="text" list="cityList" class="form-control" maxlength="100" id="cityName" asp-for="@Model.SearchText" placeholder="Search cities" title="Search a city name" />
                        <datalist id="cityList">
                            @foreach (var city in Model.CityDetailList)
                            {
                                <option value="@city.TheCity.CityName"></option>
                            }
                        </datalist>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            }
            else
            {
                <p>There are no cities available in this country.</p>
            }
            @if (Model.TheCityDetail != null)
            {
                <p>Region: @Model.TheCityDetail.TheRegion.RegionName</p>

            }
            else
            {
                <p>Region: Not available</p>
            }
            @if (Model.TheCountry != null)
            {
                <p>ISO3: @(Model.TheCountry?.Iso3 ?? "Not available")</p>
            }
            else
            {
                <p>Country not available</p>
            }

        </div>

        <div class="right-column">
            @if (Model.TheCityDetail != null)
            {
                <img src="@Model.TheCityDetail.TheRegion.ImageUrl" class="" alt="@Model.TheCityDetail.TheRegion.RegionName">
            }
            else
            {
                <img class="card-img-top" alt="All regions" src="https://e0.pxfuel.com/wallpapers/1010/550/desktop-wallpaper-light-earth-planet-for-section-%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81-beautiful-planet-earth.jpg">

            }

        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CityDetailList)
        {
            <tr>
                <td>
                    CityId: @Html.DisplayFor(modelItem => item.TheCity.CityId)
                </td>
                <td>
                    City Name: @Html.DisplayFor(modelItem => item.TheCity.CityName)
                </td>
                <td>
                    Country Name: @Html.DisplayFor(modelItem => item.TheCity.Country.CountryName)
                </td>
                <td>
                    Air Min Year: @Html.DisplayFor(modelItem => item.AirMinYear)
                </td>
                <td>
                    Air Max Year: @Html.DisplayFor(modelItem => item.AirMaxYear)
                </td>
                <td>
                    Air Record Count: @Html.DisplayFor(modelItem => item.AirRecordCount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TheCountry.RegionId" asp-route-countryId="@item.TheCity.CountryId" asp-route-cityId="@item.TheCity.CityId" asp-route-searchText="@Model.SearchText" class="btn btn-outline-primary">Details [Air Quality Data]</a>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .image-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        max-height: 500px;
    }

        .image-container img {
            width: 100%;
            height: auto;
            display: block;
            max-height: 500px;
            background-size: cover;
            object-fit: cover;
        }

    .text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        color: black;
        text-align: left;
        display: flex;
    }

        .text-overlay h1 {
            font-size: 2rem;
        }

        .text-overlay p {
            font-size: 1.2rem;
        }

    .left-column {
        flex: 1;
        padding: 20px;
    }

        .left-column h1 {
            font-size: 4em;
            text-align: center;
        }

    .right-column {
        flex: 1;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .right-column img {
            max-width: 100%;
            height: auto;
        }

    main {
        padding: 20px;
    }
</style>
